<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="AuthenticationTestSuite" verbose="1" >
    <test name="AuthenticationTest">
        <classes>
            <class name="testCases.BaseTest"/>
            <class name="testCases.authentication.InitialAuthenticationTest"/>
        </classes>
    </test>

    <test name="purchaseModuleTest" >
        <classes>
            <class name="testCases.BaseTest"/>
            <class name="testCases.operationManagement.purchaseMgt.PurchaseInformation"/>
        </classes>
    </test>
</suite>
